@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 放進 @layer utilities 區塊 */
@layer utilities {
    .card-text {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }